{% macro map( entry ) -%}

<dl class="cv-map card-text">
    {% for content in entry.contents %}
      <div class="cv-map-row">
        <dt>{{ content.name }}</dt>
        {% if content.value %}
        <dd>{{ content.value }}</dd>
        {% endif %}
        {% if content.links %}
        <dd>
          <div class="container-pdf">
          {% for item in content.links %}
              {% if item.link %}
                <div class="container-link-button">
                  {% if item.name %}
                    <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">{{ item.name}}</a>
                  {% else %}
                    <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">doc</a>
                  {% endif %}
                </div>
              {% endif %}
          {% endfor %}
          </div>
        </dd>
        {% endif %}
      </div>
    {% endfor %}
</dl>

{% endmacro %}
